.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: 70px;
  left: 0;
  justify-content: center;
  padding-top: 1rem;
  background: transparent;
  padding-bottom: 1rem;
  padding: 20px;
  transition: background-color 0.3s ease, height 0.4s ease, padding 0.4s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95); /* Color de la navbar cuando haces scroll */
  height: 40px; /* Asegúrate de que esta altura sea visible */
 
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil debajo de la navbar */
}

.navbar.scrolled .navbar-links li a {
  color: #000000;
}
.navbar.scrolled .navbar-links li:last-child a {
  color: white;
}

.contenedor-nav {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  width: 100px;
}

.flexible-space {
  flex-grow: 1; /* Este elemento ocupará todo el espacio restante */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-links a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 0 6px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: 14px;
  font-weight: 600;
}

.navbar-button {
  background-color: #ff3b0d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}